
.header-div{
    padding-left: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(165, 50, 50);
    padding-top: 10px;
    color: whitesmoke;
    height: 35px;
    border-bottom: lightcoral;
    border-style: solid;
    border-width: 3.5px;
    border-left: darkred;
    border-right: darkred;
    border-top: darkred;
}

.space-house-header{
    padding-left: 600px;
}

.space-house-header:hover{
    color: white;
}

/* .header-component{
    padding-bottom: 40px;
} */

.header-component:hover{
    cursor: pointer;
    color: black;
}

.space{
    padding-left: 100px;
}

h1{
    color: black;
}

.house-image{
    width: 25px;
    height: 25px;
}